# This file can be copied directly into the config.cson in Atoms configuraton folder.

"*":
  "atom-material-ui":
    colors:
      abaseColor: "#aad875"
      accentColor: "#6f8853"
      predefinedColor: "Green"
    fonts:
      fontSize: 18
    tabs:
      compactTabs: true
      noTabMinWidth: true
      stretchedTabs: true
    ui:
      panelContrast: true
      panelShadows: true
  core:
    colorProfile: "srgb"
    telemetryConsent: "no"
    themes: [
      "atom-material-ui"
      "gruvbox-plus-syntax"
    ]
    useProxySettingsWhenCallingApm: false
  editor:
    fontFamily: "Fira Code"
    fontSize: 11
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
    tabType: "soft"
  "exception-reporting":
    userId: "0b5a8227-2cee-4c33-aa06-a0e7a3fcf7cd"
  "fuzzy-finder":
    scoringSystem: "fast"
    useRipGrep: true
  "gruvbox-plus-syntax": {}
  "tree-view": {}
